node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.development
.env.production
*.cer

# iOS
ios/Pods/
ios/build/

# Android
android/app/build/
android/build/
android/.gradle/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
